@using Sabancı_ENS491_492_Website.Models
@model ProjectViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@{
    ViewData["Title"] = "Manage Projects";
    var isSupervisor = User.IsInRole("instructor");
    var isAdmin = User.IsInRole("admin");
    var fullNameClaim = User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value;
    var loggedInUserId = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
}
<h2>@ViewData["Title"]</h2>

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        @ViewBag.Success
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<!-- List of existing projects -->
<table class="table table-custom">
    <thead>
        @if (isSupervisor)
        {
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        }
        else if (isAdmin)
        {
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Supervisors</th>
                <th>Actions</th>
            </tr>
        }
    </thead>
    <tbody>
        @if (isSupervisor)
        {
            if (Model.Projects.Any())
            {
                @foreach (var project in Model.Projects.Where(p => p.ProjectSupervisors.Any(ps => ps.UserId.ToString() == loggedInUserId)))
                {
                    <tr id="project-@project.ProjectId">
                        <td>@project.Title</td>
                        <td>@project.Description</td>
                        <td>
                            <a href="@Url.Action("ProjectsListView", "Projects", new { scrollTo = project.ProjectId })" class="btn btn-primary">View Project</a>

                            <a asp-action="DeleteProject" asp-route-id="@project.ProjectId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>

                }
            }
            else
            {
                <p>No projects found.</p>
            }
        }
        else if (isAdmin)
        {
            if (Model.Projects.Any())
            {
                @foreach (var project in Model.Projects) // Now Model.SupervisedProjects is guaranteed not to be null
                {
                    if (project.ProjectSupervisors != null)
                    {
                        <tr id="project-@project.ProjectId">
                            <td>@project.ProjectId</td>
                            <td>@project.Title</td>
                            <td>@string.Join(", ", project.ProjectSupervisors.Select(ps => ps.User.Name))</td>
                            <td >
                                <a href="@Url.Action("ProjectsListView", "Projects", new { scrollTo = project.ProjectId })" class="btn btn-primary">View Project</a>

                                <a asp-action="DeleteProject" asp-route-id="@project.ProjectId" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>

                    }
                }
            }
            else
            {
                <p>No projects found.</p>
            }
        }
    </tbody>
</table>
